.button {
    background-color: #FF4D4D; /* Color de fondo rojo */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 15px; /* Espaciado interno */
    cursor: pointer; /* Cursor de puntero */
    font-size: 1rem; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    text-transform: uppercase; /* Mayúsculas */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.button:hover {
    background-color: #FF3333; /* Color de fondo rojo más oscuro en hover */
}

.button-container{
    margin-top: 20px;
}
