/* Estilos generales */
body {
    font-family: "Lexend", sans-serif;
    margin: 0;
    padding: 0;
    background: #464952; /* Establece el color de fondo */
}

/* Estilos para el encabezado */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #464952; /* Establece el color de fondo */
    border-bottom: 1px solid #ccc; /* Agrega una línea inferior */
}

/* Estilos para el logo */
.logo {
    display: flex;
    align-items: center;
    color: white; /* Color del texto del logo */
}

/* Estilos para el icono de la aplicación */
.app-icon {
    width: 40px; /* Ancho del icono de la aplicación */
    height: auto; /* Altura automática */
}

/* Estilos para el nombre de la aplicación */
.app-name {
    margin-left: 10px; /* Margen a la izquierda del nombre de la aplicación */
}

/* Estilos para el contenedor de la barra de búsqueda */
.search-bar-container {
    flex-grow: 1;
    margin-left: 80px; /* Margen a la izquierda */
    text-align: left; /* Alineación del texto a la izquierda */
}

/* Estilos para el icono de la lupa */
.fa-magnifying-glass {
    position: absolute; /* Posicionamiento absoluto para superponer el icono al texto */
    top: 50%; /* Coloca el icono verticalmente centrado */
    left: 10px; /* Ajusta la posición horizontal según sea necesario */
    transform: translateY(-50%); /* Centra verticalmente el icono */
    color: #ccc; /* Color del icono */
}

/* Estilos para la barra de búsqueda */
.search-bar-container .search-bar {
    width: 500px; /* Ancho de la barra de búsqueda */
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ccc; /* Color de fondo de la barra de búsqueda */
}

/* Estilos para los íconos dentro de la barra de búsqueda */
.search-bar-container .fas {
    color: white; /* Color de los íconos */
}

/* Estilos para el menú */
.menu {
    position: fixed;
    top: 82px; /* Ajusta la posición superior según sea necesario */
    left: 0;
    height: calc(100vh - 50px); /* Calcula la altura para ajustarla al tamaño de la ventana */
    width: 200px; /* Ancho del menú */
    background-color: #464952; /* Color de fondo */
    padding: 10px; /* Relleno */
    margin: 0; /* Margen */
    overflow-y: auto; /* Habilita el desplazamiento vertical si es necesario */
}

/* Estilos para la lista dentro del menú */
.menu ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Quita el relleno */
}

/* Estilos para los elementos de la lista dentro del menú */
.menu ul li {
    margin-bottom: 30px; /* Margen inferior */
}


/* Estilos para los enlaces dentro del menú */
.menu ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ccc; /* Color del texto */
    font-size: 18px; /* Tamaño de la fuente */
}

/* Estilos para los enlaces cuando se pasa el cursor sobre ellos */
.menu ul li a:hover {
    font-weight: bold; /* Establece el peso de la fuente en negrita */
}

/* Estilos para el ícono del menú */
.menu-icon {
    width: 25px; /* Ancho del ícono */
    height: auto; /* Altura automática */
    margin-right: 5px; /* Margen a la derecha */
    filter: invert(100%); /* Invierte el color del ícono */
}

/* Estilos para el contenedor del formulario */
.formulario-container {
    max-width: 550px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Margen */
    padding: 9px; /* Relleno */
    background-color: #464952; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde */
    overflow: auto; /* Habilita el desplazamiento vertical si es necesario */
}

/* Ajustes para la entrada de texto y el área de texto */
input[type="text"],
textarea {
    width: calc(100% - 16px); /* Ancho del 100% menos el relleno */
    padding: 8px; /* Relleno */
    margin-bottom: 10px; /* Margen inferior */
    border: 1px solid #464952; /* Borde */
    border-radius: 4px; /* Bordes redondeados */
    box-sizing: border-box; /* Ajusta el tamaño para incluir el relleno y el borde */
    background-color: #464952; /* Color de fondo */
    color: #ccc; /* Color del texto */
    outline: none; /* Quita el resaltado alrededor del elemento */
    resize: vertical; /* Permite que el área de texto se redimensione verticalmente */
    min-height: 5px; /* Altura mínima */
    max-height: 300px; /* Altura máxima */
    resize: none; /* Evita la redimensión */
    overflow: hidden; /* Oculta el desbordamiento */
}

/* Ajustes para el botón de enviar */
input[type="submit"] {
    display: block; /* Hace que el botón ocupe todo el ancho del contenedor */
    width: 100%; /* Ancho del 100% */
    background-color: #464952; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 0; /* Relleno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s ease; /* Transición */
}

/* Estilos para el botón de enviar cuando se pasa el cursor sobre él */
input[type="submit"]:hover {
    background-color: #464952; /* Cambia el color de fondo */
}

/* Ajustes para el encabezado */
h2 {
    text-align: center; /* Alinea el texto al centro */
    margin-bottom: 20px; /* Margen inferior */
    margin-top: 0; /* Margen superior */
}

#agregarNota {
    color: rgb(255, 253, 253); /* Color del texto */
    cursor: pointer; /* Cursor de puntero */
    font-size: 12px; /* Tamaño de la fuente */
    font-weight: bold; /* Establece el peso de la fuente en negrita */
}

#formulario {
    margin-top: 20px; /* Margen superior */
    color: rgb(255, 253, 253); /* Color del texto */
}


/*Beginning: Jorge Mira adding:*/
.notaMostrada{
    color: white;
    max-width: 550px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Margen */
    padding: 9px; /* Relleno */
    background-color: #464952; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde */
    overflow: auto; /* Habilita el desplazamiento vertical si es necesario */
    cursor: pointer;
}
/* Estilo para el modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* Fondo oscuro semi-transparente */
  }
  
  /* Estilo para el contenido del modal */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* Estilo para el botón de cerrar */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
/*Ending: Jorge Mira adding*/
