body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
html {
    cursor: url(../img/spaceship.png), auto;
}
.blue-section {
    background-color: #3A4474;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}


.blue-section h2 {
    font-size: 35px;
    padding-left: 220px;
}

.blue-section p {
    width: 585px;
    padding-left: 150px;
    font-size: 20px;
    text-align: center;
    position: relative; 
}

.blue-section img {
    width: 300px; 
    position: absolute;
    left: 950px;
    bottom: 105px;
}

.beige-section {
    background-color: #E5EBC5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    background-color: #3A4474;
    padding-left: 10px;
    padding-top: 10px;
    color: #fff;
}

.logo{
    display: flex; 
}

.logo img{
    height: 50px;
}


h1{
    font-size: 30px;
}


button {
    width: 100px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3A4474;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 390px;
}

.beige-section h2{
    font-size: 40px;
    padding-top: 20px;
    color: rgb(61, 63, 63);
}

.beige-section {
    background-color: #f5f5dc;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card-container {
    display: flex;
}

.card {
    background-color: #3A4474;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 20px; /* Espacio entre las cards */
    width: 200px;
}

.card img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    display: block; /* Añadido para centrar la imagen */

}
